<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div id="div">
    <div>
      <label for="name">Naam</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="name"
        name="name">
    </div>
    <div>
      <label for="city">Stad</label>
      <input
        type="text"
        id="city"
        [(ngModel)]="city"
        name="city">
    </div>
    <div>
      <label for="score">Beoordeling</label>
      <select
        id="score"
        ngModel
        name="score">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <button type="submit">toevoegen</button>

  </div>
</form>
