<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div id="div">
    <div>
      <label for="name">Naam</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="name"
        name="name"
        placeholder="{{ namePlaceholder }}">
    </div>
    <div>
      <label for="city">Stad</label>
      <input
        type="text"
        id="city"
        [(ngModel)]="city"
        name="city"
        placeholder="{{ cityPlaceholder }}">
    </div>
    <div>
      <label for="score">Beoordeling</label>
      <select
        type="select"
        id="score"
        [(ngModel)]="score"
        name="score"
        >
        <option *ngFor="let number of numbers" [value]="number">{{number}}</option>
      </select>
    </div>
    <button type="submit">Aanpassen</button>

  </div>
</form>
<div *ngIf="boulderingGym">
  <h3>{{ boulderingGym.name }}</h3>
  <p>{{ boulderingGym.city }}</p>
  <p>{{ boulderingGym.score }}</p>
</div>
