<div class="mt-5 card">
  <div class="card-header">
    Locatie wijzigen
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Naam</span>
        <input
          type="text"
          id="name"
          [(ngModel)]="name"
          name="name"
          placeholder="{{ namePlaceholder }}"
          class="form-control"
          aria-label="Locatie naam"
          aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Stad</span>
        <input
          type="text"
          id="city"
          [(ngModel)]="city"
          name="city"
          placeholder="{{ cityPlaceholder }}"
          class="form-control"
          aria-label="Stad"
          aria-describedby="basic-addon1">
      </div>
      <div class="row">
        <div class="col-4">
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Beoordeling</label>
            <select
              type="select"
              id="score"
              [(ngModel)]="score"
              name="score"
              id="inputGroupSelect01">
              <option selected>kies score...</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
      </div>
      <div id="div">
        <button type="submit" class="btn btn-outline-secondary">toevoegen</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="loading">Loading...</div>
<div *ngIf="error">Error :(</div>
<div *ngIf="boulderingGym" class="mt-3 card">
  <div class="card-header">
    <div class="row">
      <div class="col">locatie Details</div>
      <div class="col text-end">{{ boulderingGym.createdAt }}</div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ boulderingGym.name }}</h5>
    <p class="card-text">{{ boulderingGym.city }}</p>
    <p class="card-text"><b>Beoordeling:</b> {{ boulderingGym.score }}</p>
  </div>
</div>
